<div class="main-left-list-sec patient-list-sec">
    <div class="d-flex justify-content-between">
        <h1 class="font-section-title-small">Users</h1>
        <button mat-button class="ec-primary-btn add-invoice-btn" (click)='openDialog()'>
            <span class="material-icons icon-btn">add</span>Add user
        </button>
    </div>
    <div class="search-box-sec">

    </div>
    <div class="list-sec-scroll-wrapper patient-list-wrapper">
        <div class="patient-list-box">
            <div class="list-card-item patient-list-item">
                <div class="dp-box">
                    <div class="dp-box-icon">
                        
                            <img src="assets/images/icons/man-user-color-icon.svg" alt="User Image">
                        
                    </div>
                </div>
                <div class="list-card-item-content flex-nowrap">
                    <div class="d-flex justify-content-between align-items-start w-100">
                        <h4 class="font-title-small patient-name tuncate-text">Somenath Ash</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="users-bs-details d-flex justify-content-start align-items-center w-100">
                            <p class="font-body-large color-font-secondary details-text"> Designer </p>
                        </div>
                    </div>
                    <div class="users-footer-details d-flex justify-content-start align-items-center flex-nowrap">
                        <p class="font-body-large color-font-secondary d-flex align-items-center text-nowrap">
                            <span class="material-icons">mail</span>
                            <span class="font-body-large color-font-secondary">somenathash&#64;abc.com</span>
                        </p>
                    </div>
                    <div class="users-footer-details d-flex justify-content-start align-items-center flex-nowrap">
                        <p class="font-body-large color-font-secondary d-flex align-items-center text-nowrap">
                            <span class="material-icons">phone</span>
                            <span class="font-body-large color-font-secondary">9652101258</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="list-card-item patient-list-item">
                <div class="dp-box">
                    <div class="dp-box-icon">

                        <img src="assets/images/icons/man-user-color-icon.svg" alt="User Image">

                    </div>
                </div>
                <div class="list-card-item-content flex-nowrap">
                    <div class="d-flex justify-content-between align-items-start w-100">
                        <h4 class="font-title-small patient-name tuncate-text">Somenath Ash</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="users-bs-details d-flex justify-content-start align-items-center w-100">
                            <p class="font-body-large color-font-secondary details-text"> Designer </p>
                        </div>
                    </div>
                    <div class="users-footer-details d-flex justify-content-start align-items-center flex-nowrap">
                        <p class="font-body-large color-font-secondary d-flex align-items-center text-nowrap">
                            <span class="material-icons">mail</span>
                            <span class="font-body-large color-font-secondary">somenathash&#64;abc.com</span>
                        </p>
                    </div>
                    <div class="users-footer-details d-flex justify-content-start align-items-center flex-nowrap">
                        <p class="font-body-large color-font-secondary d-flex align-items-center text-nowrap">
                            <span class="material-icons">phone</span>
                            <span class="font-body-large color-font-secondary">9652101258</span>
                        </p>
                    </div>
                </div>
            </div>
            <div class="list-card-item patient-list-item">
                <div class="dp-box">
                    <div class="dp-box-icon">
                        
                            <img src="assets/images/icons/man-user-color-icon.svg" alt="User Image">
                        
                    </div>
                </div>
                <div class="list-card-item-content flex-nowrap">
                    <div class="d-flex justify-content-between align-items-start w-100">
                        <h4 class="font-title-small patient-name tuncate-text">Somenath Ash</h4>
                    </div>
                    <div class="d-flex justify-content-between align-items-center w-100">
                        <div class="users-bs-details d-flex justify-content-start align-items-center w-100">
                            <p class="font-body-large color-font-secondary details-text"> Designer </p>
                        </div>
                    </div>
                    <div class="users-footer-details d-flex justify-content-start align-items-center flex-nowrap">
                        <p class="font-body-large color-font-secondary d-flex align-items-center text-nowrap">
                            <span class="material-icons">mail</span>
                            <span class="font-body-large color-font-secondary">somenathash&#64;abc.com</span>
                        </p>
                    </div>
                    <div class="users-footer-details d-flex justify-content-start align-items-center flex-nowrap">
                        <p class="font-body-large color-font-secondary d-flex align-items-center text-nowrap">
                            <span class="material-icons">phone</span>
                            <span class="font-body-large color-font-secondary">9652101258</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>