<div class="side-navbar-sec">
  <div class="logo-box">
    <a [routerLink]="['/']"> <img src="assets/images/codeZen_Logo.svg" alt=""> </a>
  </div>
  <nav class="nav-link-box">
    <a class="nav-link" routerLink="/dashboard" routerLinkActive="active">
      <img class="nav-icon" src="assets/images/icons/dashboard.svg" alt="">
      <span class="nav-text">Dashboard</span>
    </a>
    <a class="nav-link" routerLink="/user" routerLinkActive="active">
      <img class="nav-icon" src="assets/images/icons/users.svg" alt="">
      <span class="nav-text">Users</span>
    </a>
  </nav>
</div>